/** Format list pop-ups */
.tippy-content ul {
    margin-left: 20px;
}

.tippy-content li {
    list-style-type: circle;
}

.tippy-content li > p {
    margin: 1px 0;
}

/** Format glossary pop-ups */
.tippy-content dt {
    text-align: left;
    font-weight: bolder;
}

.tippy-content dd {
    text-align: left;
    font-weight: normal;
    margin-left: 20px;
}

/** Fix Tippy pop-up colors */
.tippy-box {
    min-width: fit-content;
    background-color: white;
    color: black;
    border: 1px solid black;
}
